@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* CSS Document */


.nav-tabs > li > a{
	background-color:#006699;
	color:#fff;
}

.nav-tabs > li > a:hover{
	background-color:#006699;
	color:#fff;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus
.nav-tabs > li.active > a:visited{
	color: #000;
	cursor: default;
	background-color:#F6F7F8;
}

.nav-tabs > li.active > a, a:hover, a:active{
	background-color:#F6F7F8;
	color:#000;
}

.tab-content{
	position:absolute;
	background-color:#F6F7F8;
	width:95%;
	z-index:0;
}

@media (max-width: 768px)
	{
		.nav-tabs > li.active > a,
		.nav-tabs > li.active > a:hover,
		.nav-tabs > li.active > a:focus
		.nav-tabs > li.active > a:visited{
			border: none;
			border-bottom-color: transparent;
		}

		.nav-tabs > li.active > a, a:hover, a:active{
			border-color:none;
			border-radius:0;
		}

		.nav-tabs > li > a{
			border:none;
			border-radius:0;
			margin:0!important;
		}

		.nav-tabs{
			border-bottom: none;
		}

		.nav-lg-title{display:none;}/*hides the title in mobile*/

		.navbar{background-color:#eee;}

		.navbar-brand{
		width: 100%;
		left: 0;
		text-align: center;
		margin: auto;
		}	

		table {width:100%!important;}
	}

	
@media (min-width: 769px) and (max-width: 1300px)
	{
		.nav-tabs > li.active > a,
		.nav-tabs > li.active > a:hover,
		.nav-tabs > li.active > a:focus{
			border: none;
			border-bottom-color: transparent;
			border-radius:0;
		}

		.nav-tabs > li.active > a:active{
			border-color:none;
			border-radius:0;
		}

		.nav-tabs > li > a{
			border:none;
			border-radius:0;
			margin:0!important;
		}

		.nav-tabs{
			border-bottom: none;
		}

		.container-margin{
			margin-right:20px 20px;
		}

		.navbar-default{
			background-image:none;
			border:none;
			background-color:transparent;
			box-shadow:none;
		} /*makes navbar transparent for the desktop*/

		.nonactive{
			background-color: #006699;
			border-radius: 8px;
			color:black;
			width:150px;
		}

		.activated{
			background-color: #F6F7F8;
			border-radius: 8px;
			color:#FFF;
			width:150px;
		}

		.navbar-nav{
			width: 100%;
			text-align: center;
		} /*centers navbar for desktop*/

		.navbar-nav li{
			float: none;
			display: inline-block;
		} /*centers navbar for desktop*/

		.navbar-nav li a{
			text-shadow:none;
			color:#000;
		}

		.activated{
			background-color: #F6F7F8;
			border-radius: 8px;
		}

		.nonactive{
			background-color: #006699;
			border-radius: 8px;
			color:#FFF;
		}

		.navbar-brand{display:none;}

		a.activated{
			color:#000!important;
		}

		a.nonactive{
			color:#FFF!important;
		}
	}

	
@media (min-width: 1300px)
	{	
		.nav-tabs > li.active > a,
		.nav-tabs > li.active > a:hover,
		.nav-tabs > li.active > a:focus{
			border:none;
			border-bottom-color: transparent;
		}

		.nav-tabs > li.active > a:active{
			border-color:none;
			border-radius:0;
		}

		.nav-tabs > li > a{
			border:none;
			border-radius:0;
			margin:0!important;
		}

		.nav-tabs{
			border-bottom: none;
		}

		.container-margin{
			margin-right:15px;
		}

		.maps-center{
			vertical-align:middle;
			width:80%;
			float:none;
			margin:0 auto;
		}

		.max-maps{
			max-width:650px;
			vertical-align:middle;
		}
		.mapoverlay{
			pointer-events: none;
			position: absolute;
			top: 0px;
  			left: 0px;
		}

		.max-maps img{
			vertical-align:middle;
		}

		.navbar-default{
			background-image:none;
			border:none;
			background-color:transparent;
			box-shadow:none;
		} /*makes navbar transparent for the desktop*/

		.nonactive{
			background-color: #006699;
			border-radius: 8px;
			color:black;
			width:150px;
		}

		.activated{
			background-color: #F6F7F8;
			border-radius: 8px;
			color:#FFF;
			width:150px;
		}

		.navbar-nav{
			width: 100%;
			text-align: center;
		} /*centers navbar for desktop*/

		.navbar-nav li{
			float: none;
			display: inline-block;
		} /*centers navbar for desktop*/

		.navbar-nav li a{
			text-shadow:none;
			color:#000; !important;
		}

		.activated{
			background-color: #F6F7F8;
			border-radius: 8px;
			color:#ffffff;
		}

		.nonactive{
			background-color: #006699;
			border-radius: 8px;
			color:#FFF;
		}

		.navbar-brand {display:none;}
		
		a.activated{
			color:#000!important;
		}

		a.nonactive{
			color:#FFF!important;
		}
	}

	
body{
	font-family: 'Open Sans';
	background-image:url(../images/bg.png);
}

h1{font-size:77px;font-family:'Open Sans'; text-align:center;}

h2{font-size:30px;font-family:'Open Sans'; text-align:center;}

h3{font-size:18px;font-family:'Open Sans'; text-align:left; font-weight:semi-bold; color:#000; margin-top:10px;}

.navbar li a:hover{background-color:transparent;}

.nav-lg-title{color:#FFF; margin:0 auto;float:none; padding-bottom:20px}

.nav{text-align:center;}

.center{margin:0 auto;float:none;}


/*override hours api css*/

.hours-col-loc{padding-right:5%!important;padding-left:3%!important;}

.hours-row{border-bottom:solid #333 1px!important;color:#000;font-size:20px;}

tbody{border:solid #333 1px!important;}

#hours-col-l{background-color:#333; padding-left:3%;color:#FFF;font-size:25px;}

#hours-col-t{background-color:#333!important; padding-right:10px;color:#FFF;font-size:25px;}

table.hours_today{background-color:#333!important; color:#FFF;}

table{
	width:100%;
	background-color:#F6F7F8;
	}


/*override events api css*/

.lwe{width:100%;background-color:#333; font-size:20px; margin-bottom:10px; padding:5px;list-style-type: none;float:left; color:#eee;}

.lwe a{color:#eee!important; font-weight:bold;}

.lwe > a:hover, 
.lwe > a:active, 
.lwe > a:focus{color:#eee!important; font-weight:bold;}

.tevent{margin-top:5px;margin-bottom:5px;}

.lwn0{float:right;}

#lwe{width:100%;float:left;list-style-type: none!important; padding:0px!important;margin:0x!important;}


/*override classes api css*/

#th3{display:none;}

#noevents {color:#F6F7F8;}

.eventTitle{color:#eee;}

.tevent{color:#eee!important;font-size: 24px!important;margin-bottom:13px;margin-top:5px;font-family:'Open Sans'!important;}

.tevent a{color:#eee;text-decoration:none!important;font-weight:bold!important;}

.tevent tbody{padding-bottom:10px!important;background-color:#333;border: solid transparent 1px!important;}

.tevent tbody tr td{padding-left:10px;}

.tevent tbody tr td a{color:#eee!important;}

.eventTitle{color:#FFF;font-size:30px;}


/* maps css */

#one img,#two img,#three img,#four img{width:100%; height:100%; /*margin-bottom:10px;*/}

.nopadding{
	padding: 0px;
}

.info a:focus {
	color:#ff6633;
	text-decoration:none;
}

.info a:hover {
	color:#ff6633;
	text-decoration:none;
}

.item {
    color:#006699;
}

.selected{
    color:#ff6633;
}

.info {
	height:auto;
	width:auto;
	padding:15px 15px;
}

.test {	
	position:absolute;
	background-color:#FFF;
	height:auto;
	width:auto;
	padding:15px 15px;
	padding-right:50%;
	z-index:-1;
}

/* Side Panels */
#info-panel {
	position:relative;
	background-color:#ff6633;
	color:#FFF;
	height:auto;
	width:auto;
	padding:15px 15px;
	z-index:1;
}

#info-panel .p {
	display: inline-block;
}

.close-image{
	cursor:pointer;
    display: inline-block;
    float:right;
    position:relative;
    top: 0px;
	right: -5px;
	height: 40px;
}
