@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic%7COpen+Sans+Condensed:300,700,300italic");
/* Typography */
/* Colors */
/* Breakpoints */
/* line 32, ../sass/custom-style.scss */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 38, ../sass/custom-style.scss */
body, html {
  margin: 0;
  background: #0c5896;
  font-family: "Open Sans", sans-serif;
  background-image: url(../images/blue-bg.jpg);
  font-size: 16px;
}

/* line 45, ../sass/custom-style.scss */
a {
  color: #337ab7;
}

/* line 47, ../sass/custom-style.scss */
h1 {
  font-size: 77px;
}

/* line 48, ../sass/custom-style.scss */
h2 {
  font-size: 28px;
}

/* line 49, ../sass/custom-style.scss */
h3 {
  font-size: 20px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 600;
}

/* line 51, ../sass/custom-style.scss */
.nav-lg-title {
  color: white;
  margin: 0 auto;
  float: none;
  padding: 0 0 12px;
}
/* line 52, ../sass/custom-style.scss */
.nav-lg-title h1, .nav-lg-title h2 {
  text-align: center;
  margin: 0;
  color: white;
}
/* line 57, ../sass/custom-style.scss */
.nav-lg-title h1 {
  font-weight: 600;
  font-family: "Open Sans Condensed", sans-serif;
}
/* line 61, ../sass/custom-style.scss */
.nav-lg-title h2 {
  text-transform: uppercase;
  letter-spacing: 0.11em;
}
/* line 64, ../sass/custom-style.scss */
.nav-lg-title h2 i {
  font-style: normal;
  font-size: 24px;
}

/* Status Bar */
/* line 76, ../sass/custom-style.scss */
#status-bar {
  background: black;
  color: #eee;
  display: inline-block;
  width: 100%;
  font-weight: 400;
  font-size: 22px;
  padding: 2px 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
/* line 86, ../sass/custom-style.scss */
#status-bar .date {
  float: left;
  width: 30%;
  padding: 0 0 0 2%;
}
/* line 91, ../sass/custom-style.scss */
#status-bar .time {
  text-align: center;
  float: left;
  width: 40%;
}
/* line 95, ../sass/custom-style.scss */
#status-bar .time input[type=button] {
  background: black;
  border: 0;
  cursor: text;
}
/* line 101, ../sass/custom-style.scss */
#status-bar .weather {
  float: left;
  width: 30%;
  display: inline-block;
  text-align: right;
  padding-right: 3.5%;
  background: transparent url(../images/weather-icon.png) no-repeat 94%;
}

/* Top Navigation Buttons */
/* line 112, ../sass/custom-style.scss */
.navbar {
  background-image: none;
  border: none;
  background-color: transparent;
  box-shadow: none;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  padding: 20px 0;
  margin: 0 auto 10px;
  width: 100%;
  border-radius: 0;
  /*centers navbar for desktop*/
  /*centers navbar for desktop*/
}
/* line 126, ../sass/custom-style.scss */
.navbar .container {
  width: 100%;
}
/* line 128, ../sass/custom-style.scss */
.navbar .navbar-brand {
  display: none;
}
/* line 130, ../sass/custom-style.scss */
.navbar .navbar-nav {
  width: 100%;
  text-align: center;
}
/* line 134, ../sass/custom-style.scss */
.navbar li {
  margin: 0 1%;
  float: none;
  display: inline-block;
}
/* line 138, ../sass/custom-style.scss */
.navbar li a {
  text-shadow: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
/* line 145, ../sass/custom-style.scss */
.navbar .nonactive,
.navbar .activated {
  border-radius: 8px;
  width: 150px;
}
/* line 150, ../sass/custom-style.scss */
.navbar .nonactive {
  background-color: #31c3e6;
  color: black;
}
/* line 154, ../sass/custom-style.scss */
.navbar .activated {
  background-color: white;
  color: #FFF;
}
/* line 158, ../sass/custom-style.scss */
.navbar a.activated {
  color: black !important;
}
/* line 161, ../sass/custom-style.scss */
.navbar a.nonactive {
  color: white !important;
}

/* Maps */
/* line 167, ../sass/custom-style.scss */
.container-margin {
  margin-right: 15px;
}
/* line 170, ../sass/custom-style.scss */
.container-margin .maps-center {
  vertical-align: middle;
  float: none;
  margin: 0 auto;
}
/* line 175, ../sass/custom-style.scss */
.container-margin .max-maps {
  max-width: 650px;
  vertical-align: middle;
}
/* line 179, ../sass/custom-style.scss */
.container-margin .mapoverlay {
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 0px;
}
/* line 185, ../sass/custom-style.scss */
.container-margin .max-maps img {
  vertical-align: middle;
}
/* line 190, ../sass/custom-style.scss */
.container-margin #one img,
.container-margin #two img,
.container-margin #three img,
.container-margin #four img {
  width: 100%;
  height: 100%;
}
/* line 198, ../sass/custom-style.scss */
.container-margin .nopadding {
  padding: 0px;
}
/* line 203, ../sass/custom-style.scss */
.container-margin .info a:focus {
  color: #ff6633;
  text-decoration: none;
}
/* line 207, ../sass/custom-style.scss */
.container-margin .info a:hover {
  color: #ff6633;
  text-decoration: none;
}

/* Side Panels */
/* line 215, ../sass/custom-style.scss */
#mapLinks {
  margin-top: 15px;
}
/* line 217, ../sass/custom-style.scss */
#mapLinks #info-panel {
  position: relative;
  background-color: #ff6633;
  color: white;
  height: auto;
  width: auto;
  padding: 15px 15px;
  z-index: 1;
}
/* line 225, ../sass/custom-style.scss */
#mapLinks #info-panel .p {
  display: inline-block;
}
/* line 228, ../sass/custom-style.scss */
#mapLinks #info-panel .close-image {
  cursor: pointer;
  display: inline-block;
  float: right;
  position: relative;
  top: 0px;
  right: -5px;
  height: 40px;
}
/* line 238, ../sass/custom-style.scss */
#mapLinks .nav-tabs {
  border-bottom: none;
}
/* line 240, ../sass/custom-style.scss */
#mapLinks .nav-tabs li > a {
  color: white;
  background-color: #0c5896;
  border: none;
  border-radius: 0;
  margin: 0 !important;
}
/* line 248, ../sass/custom-style.scss */
#mapLinks .nav-tabs li.active a,
#mapLinks .nav-tabs li.active a:hover,
#mapLinks .nav-tabs li.active a:focus {
  border: none;
  border-bottom-color: transparent;
}
/* line 254, ../sass/custom-style.scss */
#mapLinks .nav-tabs li.active a {
  border-color: none;
  border-radius: 0;
  background-color: white;
  color: #0c5896;
  font-weight: bold;
}
/* line 263, ../sass/custom-style.scss */
#mapLinks .tab-content {
  position: absolute;
  background-color: white;
  width: 95%;
  z-index: 0;
}
/* line 268, ../sass/custom-style.scss */
#mapLinks .tab-content .info {
  height: auto;
  width: auto;
  padding: 15px 15px;
}
/* line 273, ../sass/custom-style.scss */
#mapLinks .tab-content h3 {
  margin: 0;
}
/* line 276, ../sass/custom-style.scss */
#mapLinks .tab-content ul {
  margin-top: 10px;
}

/* line 282, ../sass/custom-style.scss */
#info-by-floor {
  padding: 20px 16px;
}
/* line 284, ../sass/custom-style.scss */
#info-by-floor .panel {
  border: 0;
}
/* line 288, ../sass/custom-style.scss */
#info-by-floor .panel-default .panel-heading {
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}
/* line 295, ../sass/custom-style.scss */
#info-by-floor .panel-title a {
  font-weight: bold;
  color: black;
  display: block;
}
/* line 300, ../sass/custom-style.scss */
#info-by-floor .panel-title a:hover {
  color: #ff6633;
  text-decoration: none;
}

/* Events Page Content Area */
/* line 310, ../sass/custom-style.scss */
.container .s-lc-ea-noe {
  color: white;
  line-height: 40px;
}
/* line 311, ../sass/custom-style.scss */
.container ul#lwe {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0 0 40px;
  color: black;
}
/* line 318, ../sass/custom-style.scss */
.container li.lwe {
  width: 100%;
  background-color: white;
  font-size: 18px;
  margin-bottom: 2px;
  padding: 6px 12px 8px;
}
/* line 324, ../sass/custom-style.scss */
.container li.lwe .lwn a {
  color: #0c5896;
  font-weight: bold;
  font-size: 22px;
}
/* line 329, ../sass/custom-style.scss */
.container li.lwe .lwn a:hover {
  text-decoration: none;
}
/* line 332, ../sass/custom-style.scss */
.container li.lwe .lwn0 {
  float: right;
}
/* line 335, ../sass/custom-style.scss */
.container li.lwe .lwl a {
  color: #0c5896;
  background-color: rgba(204, 204, 204, 0.2);
  padding: 4px 14px;
}
/* line 340, ../sass/custom-style.scss */
.container li.lwe .lwl a:hover {
  text-decoration: none;
}

/* Classes Page Content Area */
/* line 349, ../sass/custom-style.scss */
.container .eventTitle {
  color: white;
  font-size: 34px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  margin: 0 0 10px;
}
/* line 356, ../sass/custom-style.scss */
.container .s-lc-ea-h3 {
  color: #e6e6e6;
  margin: 14px 0 12px;
}
/* line 360, ../sass/custom-style.scss */
.container .s-lc-ea-tb {
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 2px;
  width: 100%;
}
/* line 367, ../sass/custom-style.scss */
.container .s-lc-ea-tb td {
  padding: 5px 10px;
}
/* line 370, ../sass/custom-style.scss */
.container .s-lc-ea-tb .s-lc-ea-l {
  width: 20%;
  background-color: rgba(204, 204, 204, 0.2);
  font-weight: bold;
}
/* line 375, ../sass/custom-style.scss */
.container .s-lc-ea-tb a {
  color: #0c5896;
  font-weight: bold;
  font-size: 20px;
}
/* line 380, ../sass/custom-style.scss */
.container .s-lc-ea-tb a:hover {
  text-decoration: none;
}
/* line 384, ../sass/custom-style.scss */
.container .s-lc-ea-tb:last-child {
  margin-bottom: 40px;
}

/* Hours Side Panel */
/* line 391, ../sass/custom-style.scss */
.hours-today,
.hours-content {
  color: white;
  width: 100%;
  background-color: white;
}
/* line 396, ../sass/custom-style.scss */
.hours-today .hours-row,
.hours-content .hours-row {
  border-bottom: solid black 1px;
  color: black;
  font-size: 17px;
}
/* line 401, ../sass/custom-style.scss */
.hours-today tbody,
.hours-content tbody {
  border: solid black 1px;
  font-size: 17px;
}
/* line 404, ../sass/custom-style.scss */
.hours-today tbody .hours-col-loc,
.hours-content tbody .hours-col-loc {
  padding: 10px 3%;
  background-color: rgba(204, 204, 204, 0.2);
  padding-left: 3%;
  color: black;
  width: 55%;
  font-weight: bold;
}
/* line 412, ../sass/custom-style.scss */
.hours-today tbody .hours-col-time,
.hours-content tbody .hours-col-time {
  padding: 10px 3%;
}

/* Media Query CSS */
@media (max-width: 768px) {
  /* line 422, ../sass/custom-style.scss */
  .nav-lg-title {
    display: none;
  }

  /*hides the title in mobile*/
  /* line 427, ../sass/custom-style.scss */
  .navbar {
    width: 100%;
    background-color: #eee;
  }
  /* line 430, ../sass/custom-style.scss */
  .navbar .navbar-brand {
    text-align: center;
    display: inline;
    color: #0c5896;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", sans-serif;
  }
}
