// simple SASS command
// sass --watch sass:css

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic%7COpen+Sans+Condensed:300,700,300italic');

/* Typography */

$bodyFont: 'Open Sans', sans-serif;
$headerFont: "Open Sans Condensed", sans-serif;

$font-size-base: 14px;
$font-size-h1: ceil(($font-size-base * 2.5)); // ~64px
$font-size-h2: ceil(($font-size-base * 1)); // ~23px
$font-size-h3: floor(($font-size-base * 1.3)); // ~20px

/* Colors */

$baseBlue: rgb(0,93,186);
$darkBlue: darken($baseBlue,25%);
$lightBlue: rgb(17,124,193);
$urlBlue: rgb(51,122,183);
$orange: rgb(255,102,51);
$black: rgb(0,0,0);
$gray: rgb(204,204,204);
$lightGray: #eee;
$white: rgb(255,255,255);
$transparent: transparent;

.highlight{
    font-weight:900;
}

.update{
    color:gray;
    font-size:10px;
    padding-top: 20px;
}

/* Breakpoints */

$tablet-width: 768px;
$desktop-width: 1024px;

$wordBreak: break-word;

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body, html{
    margin: 0; 
    background: $darkBlue;
    font-family: $bodyFont;
    font-size: $font-size-base;
    padding: 0 10px;
}
a {color: $urlBlue;}

img.map,
map area{
    outline: none;
}

h1 {font-size: $font-size-h1;}
h2 {font-size: $font-size-h2;}
h3 {font-size: $font-size-h3; font-family: $headerFont; font-weight: 600}

.nav-lg-title {
    h1, h2 {
        text-align: left;
        margin: 0;
        color: $white;
        display: inline-block;
    }
    .title-header {
        float: left;
        width: 40%;
        font-family: $headerFont;
        h1 {
            font-weight: 600;
            display: block;
            font-size:22px;
        }
        h2 {
            display: inline-block;
            text-transform: uppercase;
            letter-spacing: 0.12em;
            line-height: 16px;
            font-style: normal;
            font-size: 16px;
        }

        .datetime {
            display:inline-block;
            margin:0 0 0 20px;
            font-size: 14px;
            margin: 0 0 0 20px;
        }
    }
    color: $white; 
    margin:10px 0 0 50px;
    float:none; 
    padding:0;
    width: 94%;
    border-bottom: 1px solid rgba($white, .4);

}

/* Top Navigation Buttons */

.navbar {
    background-image:none;
    border:none;
    background-color:$transparent;
	box-shadow:none;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    padding: 10px 0 0px 0;
    margin: 0 auto;
    width: 58%;
    border-radius: 0;
    float:right;
    
    .container {width: 100%;padding:0;}
    
    .navbar-collapse {padding:0;}
    
    .navbar-brand {display:none;}
    
    .navbar-nav{
			text-align: center;
            float:right;
		} /*centers navbar for desktop*/
	li{
		margin: 0 2px;
        float: none;
		display: inline-block;
        a {
            text-shadow:none;
            color: $white;
            font-size: $font-size-base;
            font-weight: bold;
            padding: 4px 0;
            float:right;
                
            i {
                background-image: url("../images/icons-btns.png");
                width: 32px;
                height: 32px;
                float: left;
            }
	  }
        a.start {
                i {
                    background-position: 2px 50px;
                    margin: -5px -52px 0 48px;
                }
            }

        a.hours {
                i {
                    background-position: 172px 121px;
                    margin: -5px -52px 0 48px;
                }
            }

        a.maps {
                i {
                    background-position: 132px 123px;
                    margin: -5px -52px 0 48px;
                }
            }
        a.events {
            i {
                background-position: 86px 123px;
                margin: -6px -38px 0 45px;
            }
        }
        a.classes {
            i {
                background-position: 41px 123px;
                margin: -6px -32px 0 40px;
            }
        }
	} /*centers navbar for desktop*/
    .nonactive,
    .activated {
        border-radius: 16px;
        width:120px;
    }
    .nonactive{
		background-color: $lightBlue;
		color:$black;
	}
	.activated{
		background-color: $white;
		color:#FFF;

        a.start {
            i {
                background-position: 5px 36px;
                margin: -5px -52px 0 48px;
            }
        }

        a.hours {
            i {
                background-position: 172px 78px;
                margin: -5px -52px 0 48px;
            }
        }        
        a.maps {
            i {
                background-position: 132px 78px;
                margin: -5px -52px 0 48px;
            }
        }
        a.events {
            i {
                background-position: 86px 78px;
                margin: -6px -38px 0 45px;
            }
        }
        a.classes {
            i {
                background-position: 41px 78px;
                margin: -6px -32px 0 40px;
            }
        }
	}
		a.activated{
			color: $black !important;
		}
		a.nonactive{
			color: $white !important;
		}
}

/* Maps */

.container-margin {
		margin-right:15px;
    
        .maps-center{
			vertical-align:middle;
			float:none;
			margin:0 auto;
            width: 100%;
		}
		.max-maps{
			max-width: 570px;
			vertical-align:middle;
		}
		.mapoverlay{
			pointer-events: none;
			position: absolute;
			top: 0px;
  			left: 0px;
		}
		.max-maps img{
			vertical-align:middle;
		}
    
    
        #one img,
        #two img,
        #three img,
        #four img {
            width:100%;
            height:100%;
        }

        .nopadding{
            padding: 0px;
        }

        .info {
            a:focus {
                color: $orange;
                text-decoration:none;
            }
            a:hover {
	            color: $orange;
	            text-decoration:none;
            }
        }
}

/* Side Panels */

#mapLinks { 
    margin-top: 12px;
    padding-right: 0;
    padding-left: 0;
    #info-panel {
        position:relative;
        background-color: $orange;
        color: $white;
        height:auto;
        width:auto;
        padding:15px 15px;
        z-index:1;
        .p {
            display: inline-block;
        }
        .close-image {
            cursor:pointer;
            display: inline-block;
            float:right;
            position:relative;
            top: 0px;
            right: -5px;
            height: 40px;
        }
    }
    .nav-tabs {
        border-bottom: none;
        li > a {
            color: $white;
            background-color: $darkBlue;
            border:none;
            border-radius:0;
            margin:0 !important;
            padding: 10px 10px;
            font-size: $font-size-base - 2; // ~14px
        }
        li.active { 
            a,
            a:hover,
            a:focus {
                border:none;
                border-bottom-color: $transparent;
            }
            a {
                border-color:none;
                border-radius:0;
                background-color: $white;
                color: $darkBlue;
                font-weight: bold;
            }
        }
    }
    .tab-content {
        position:absolute;
        background-color: $white;
        width:95%;
        z-index:0;
        .info {
            height:auto;
            width:auto;
            padding:10px 15px;
        }
        h3 {
            margin: 0;
        }
        ul {
            margin-top: 6px;
            li {
                line-height: 14px;
            }
            a {
                font-size: 12px; // ~15px
            }
        }
    }
}

#info-by-floor, #directory {
    padding: 10px 16px;
    .panel {
        border:0;
    }
    .panel-default {
        .panel-heading {
            background-color: lighten($gray, 18%);
            border: 1px solid lighten($gray, 5%);
            border-radius: 4px;
        }
    }
    .panel-title {
        h4{padding:0;}
        a {
            font-weight:bold;
            color: $black;
            display: block;
            font-size:14px;
            line-height:14px;
            padding:0;
        }
        a:hover {
            color: $orange;
            text-decoration: none;
        }
    
    } 
}

// Get Started Page
#started{
    img {
        max-width:150px;
        margin: 40px 0 0 20px;
    }
    h3{margin-bottom:50px;}
    h4 {font-size: 20px; margin-bottom:20px;}
    color:white;
    .highlight {color:#ff6633;}
    .force{height:60px;}

}

/* Hours Page Content Area */

    #hours { 
        color:white;
        font-weight:300;
        .hours-col-loc{width:300px;}
        table {
            margin-left:200px;
            font-size:130%;
        }
        .hours-col-loc{font-weight:400;}

        

        #qr-hours{
            display: block;
            width:150px;
            padding-top: 10px;
            margin: 0 auto;
            }

        .loc12626 {
            height:50px;
        .hours-col-loc{

            font-size:140%
        }
        .s-lc-time, {
            color:$orange;
            font-size:140%
        }        
        }
        
    }

/* Events Page Content Area */


#lw li {color:white;}


.container {
    .s-lc-ea-noe {color: $white;line-height: 40px;}
    ul#lwe {
        width:100%;
        list-style-type: none; 
        padding:0;
        margin:0 0 40px;
        color: $black;
    }
    li.lwe {
        width:100%;
        background-color: $white; 
        font-size:$font-size-base + 2; 
        margin-bottom:2px; 
        padding: 6px 12px 8px;
        .lwn a {
            color: darken($darkBlue, 15%);
            font-weight: bold;
            font-size: $font-size-base + 6;
        }
        .lwn a:hover {
            text-decoration: none;
        }
        .lwn0{
            float: right;
            background-color: $orange;
            padding: 2px 16px;
            font-size: $font-size-base - 2; // ~14px;
            text-transform: uppercase;
            font-weight: 400;
            margin: 3px 0 0 0;
            color: $white;
        }
        .lwl a {
            color: $darkBlue;
            background-color: rgba($gray,0.2);
            padding: 4px 14px;
            font-weight: 600;
            font-size: $font-size-base - 1; // ~15px;
        }
        .lwl a:hover {
            text-decoration: none;
        }
    }
}

/* Classes Page Content Area */

.container {
    .eventTitle {
        color: $white;
        font-size: $font-size-h3 + 14px; // ~34px
        font-family: $headerFont;
        font-weight: bold;
        margin:0 0 10px;
    }
    .s-lc-ea-h3 {
        color: lighten($gray, 10%);
        margin: 14px 0 12px;
    }
    .s-lc-ea-tb {
        background-color: $white;
        color: $black;
        font-size: $font-size-base + 2; // ~18px
        font-weight: normal;
        margin: 0 0 2px;
        width: 100%;
        td {
            padding: 5px 10px;
        }
        .s-lc-ea-l {
            width: 20%;
            background-color: rgba($gray,0.2);
            font-weight: bold;
        }
        a {
            color: darken($darkBlue, 15%);
            font-weight: bold;
            font-size: $font-size-base + 4; // ~20px
        }
        a:hover {
            text-decoration: none;
        }
    }
    .s-lc-ea-tb:last-child {
        margin-bottom: 40px;
    }
}


.classes-page {margin-top: 80px;}

/* Media Query CSS */

// @media (max-width: $tablet-width) {
//     .nav-lg-title .title-header {
// 	   display: none;
// 	}
// 	/*hides the title in mobile*/
//     #status-bar {
//         font-size: $font-size-base - 2; // ~14px
//         #weather h2 {
//             font-size: $font-size-base;
//             i {
//                 font-size: $font-size-base + 18; // ~24px
//                 line-height: 18px;
//                 height: 22px;
//             }
//         }
//         .date,
//         .time,
//         #weather {
//             width: 30%;
//             text-align:center;
//         }
//         .date {width: 40%;}
//     }
	
// 	.navbar {
// 	    width: 106% !important;
//         margin: -8px -20px -11px 0;
//         padding: 26px 18px 20px;
//         background-color: $lightGray;

// 		.navbar-brand {
// 		    text-align: left;
// 		    display: inline;
// 		    color: $darkBlue;
// 		    font-size: $font-size-base + 10; // ~26px
// 		    font-weight: 600;
// 		    text-transform: uppercase;
// 		    font-family: $headerFont;
//             line-height: 30px;
//             padding-top: 7px;
//             width: 78%;
// 		}
//         li {
//             margin: 7px 0;
//         }
//         .navbar-collapse {
//             margin-top: 20px;
//         }
//     }
//     #mapLinks { 
//         margin-top: 12px;
//     }
// }
// @media (max-width:1300px) { /* hi-res laptops and desktops */
//     .nav-lg-title .title-header {
//         float: none;
//         width: 100%;
//     }
//     .nav-lg-title h1, .nav-lg-title h2 {
//         text-align: center;
//         display: block;
//     }
//     .navbar {
//         width:100%;
        
//         .navbar-nav {
//             text-align: center;
//             float: left;
//             width: 100%;
//         }
//     }
// }